.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: 'roboto', sans-serif;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.nav-wrapper{
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img{
  height: 100%;
  margin-top: 5px;
}

.search-box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 25px;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: capitalize;
}

.search-box::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.nav-items{
  height: 22px;
  position: relative;
}

.icon{
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

.user-profile{
  width: 22px;
  border-radius: 50%;
  background-image: url("https://images.pexels.com/photos/1619697/pexels-photo-1619697.jpeg?cs=srgb&dl=pexels-victoria-akvarel-1619697.jpg&fm=jpg");
  background-size: cover;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
main{
  background-color: rgb(204, 204, 204) !important;
  padding: 40px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: 0px;
  top: 50px;
  height: 100%;
  background: rgb(221, 206, 178);
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #e0cfcf;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
/* a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
} */
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
}

#wrapper {
  width: 500px;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.main-content {
  width: 250px;
  height: 40%;
  margin-left: 60px;
  background-color: #fff;
  /* border: 2px solid #e6e6e6; */
  padding: 40px 50px;
}

.header {
  border: 0px solid #000;
  margin-bottom: 5px;
}

.header img {
  height: 50px;
  width: 175px;
  margin: auto;
  position: relative;
  left: 40px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#8e8e8e;
  opacity: 1; /* Firefox */
}
.input-1,
.input-2 {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;

}
.input-1{
  /* color:#bb0000 !important; */
}
.overlap-text {
  position: relative;
}

.overlap-text a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #003569;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
  letter-spacing: -1px;
}

.btn {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.sub-content {
  width: 100%;
  height: 40%;
  margin-top: 20px !important;
  border: 1px solid #c1b0b0ca;
  padding: 20px 50px;
}

.s-part {
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

.s-part a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-family: 'Overpass Mono', monospace;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}







form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

/* header style */
.page .header{
  text-align: center;
}

.page .header .logo, 
.page .header p, 
.page .header button{
  margin-bottom: 15px;
}

.page .header > p{
  font-weight: bold;
  color: #8e8e8e;
  font-size: 18px;
}

.page .header > button{
  width: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}

.page .header div{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e8e8e;
}

.page .header div p{
  padding: 0 20px;  
}

.page .header div hr{
  width: 200px;
  
}

/* container style*/
.page .container{
  display: flex;
  flex-direction: column;
}

.page .container form, input{
  width: inherit;
}

.page .container form input{
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 10px 5px;
  margin: 5px 0;
}

.page .container form input:last-of-type{
  margin-bottom: 10px;  
}
.texts{
  margin: 10px;
  color: #8e8e8e;
  font-weight: 800;
}
.textss{
  margin: 10px;
  color: #8e8e8e;
  font-weight: 100;
  font-size: 12px;
}
.page .container form button{
  width: inherit;
  margin-bottom: 20px;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}

.page .container ul{
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}

.page .container ul li{
  display: inline;
  color: #8e9096;
}

.page .container ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #8e9096;
}

/* option style */
.option p > a{
    text-decoration: none;
    color: #00a0f7;
}

/* otherapps style */
.otherapps{
  text-align: center;
}

.otherapps p{
  margin-bottom: 15px;
}

.otherapps > button{
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/* footer style */
.footer{
  bottom: 0;
  height: 2.5rem;
  margin-top: 50px;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer ul{
  text-align: center;
}
.footer ul li{
  display: inline;
  margin-right: 5px;
}
.footer ul li a{
  text-decoration: none;
  font-size: 12px; 
  color: #00376b;
}

.footer p{
  margin: 10px 0;
  text-align: center;
  color: #8e9096;
  font-size: 14px;
}


/* youtube link */
.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  position: fixed;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgb(218, 217, 217);
}
  
.navbar .container {
  /* background-color: #555; */
  padding: 15px 0;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto; */
}
  
.container .logo {
  display: inline-block;
  cursor: pointer;
}
  
.searchbar {
  width: -10%;
  text-align: end;
}
  
.searchbar input {
  background-color: #fafafa;
  padding: 5px;
  text-indent: 21px;
  outline: none;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 2px;
  color: rgb(77, 77, 77);
}
  
.searchbar img {
  position: absolute;
  margin-left: -10.5rem;
  margin-top: 0.25rem;
}
  
.searchbar input::placeholder {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}
  
.nav-links {
  font-weight: lighter;
  color: rgb(172, 172, 172);
  /* background: #333  ; */
}
  
.nav-group .nav-item {
  list-style-type: none;
  margin: 0 8px;
}
  
.nav-group .nav-item a {
  font-size: 22px;
  display: block;
  color: black;
}
  
.nav-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.action .profile {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.action .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
main .container {
  position: relative;
  margin-top: 60px;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background: #ddd; */
}
  
.col-9 {
  width: 65%;
  margin-top: 30px;
}
  
.statuses {
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0;
  border-radius: 2px;
  border: 1px solid rgb(218, 217, 217);
  overflow: auto;
 
  z-index: 1000;
}
  
.statuses .status {
  display: inline-block;
  border-radius: 50%;
  overflow: auto;
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-left: 15px;
  cursor: pointer;
}
  
.statuses .status .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
  
.statuses .status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.col-3 {
  width: 33%;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}
  
.col-3 h4 {
  color: rgb(100, 100, 100);
}
  
.col-3 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  display: inline-block;
}
  
.col-3 .card .top {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.col-3 .card .top a {
  color: #1d92ff;
}
  
.col-3 .card .bottom {
  padding: 10px 20px;
}
  
.col-3 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}
  
.col-3 .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}
  
.col-3 .card .top .userDetails h3 span {
  font-size: 0.75em;
}
  
.col-3 .card .top .userDetails h3 span {
  font-size: 0.75em;
}
  
.col-9 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  display: inline-block;
  border: 1px solid rgba(7, 7, 7, 0.24);
}
  
.col-9 .card .top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.col-9 .card .bottom {
  padding: 10px 20px;
}
  
.col-9 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}
  
.profilepic {
  display: inline-block;
  cursor: pointer;
}
  
.profilepic .profile_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-right: 8px;
  cursor: pointer;
}
  
.profilepic .profile_img .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
  
.profilepic .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.col-9 .card .top .userDetails h3 {
  /* width: 100%; */
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}
  
.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}
  
.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}
  
.dot {
  transform: scale(0.6);
  cursor: pointer;
}
  
.imgBx {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 10px 0 15px;
}
  
.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.actionBtns svg {
  cursor: pointer;
}
  
.actionBtns .left svg {
  margin-right: 8px;
}
  
.likes {
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
  color: #4d4d4f;
}
  
.message {
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
  color: #777;
  line-height: 1.5em;
}
  
.message b {
  color: #262626;
}
  
.message span {
  cursor: pointer;
  color: #1d92ff;
}
  
.comments {
  margin-top: 10px;
  font-weight: 400;
  color: #999;
}
  
.addComments {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
  
.addComments a {
  color: #1d92ffcb;
  font-weight: 500;
}
  
.addComments .reaction {
  position: relative;
  font-size: 1.3rem;
  margin-right: 10px;
  color: rgb(88, 88, 88);
}
  
input.text {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  background: none;
}
  
input.text::placeholder {
  color: #777;
}
  
.postTime {
  margin-top: 8px;
  font-weight: lighter;
  color: rgb(163, 163, 163);
  font-size: 12px;
  text-transform: uppercase;
}
  
a {
  text-decoration: none;
}
  
.hidden {
  display: none;
}
  
@media screen and (max-width: 1000px) {
  .col-9 {
    width: 100%;
    background: #fafafa;
  }
  
  .col-3 {
    display: none;
  }
}
  
@media screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }
  
  .navbar .container {
    padding: 15px 10px !important;
  }
  
  .col-9 {
    margin-top: 4px;
    min-width: 100%;
  }
  
  .statuses {
    margin-bottom: 0px;
  }
  
  .col-9 .card {
    margin-bottom: 0px;
    width: 100%;
    border: none;
  }
  
  .imgBx {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 10px 0 15px;
  }
  
  .searchbar {
    display: none;
  }
}
  
.footer .footer-section {
  margin-left: 0.5rem;
  color: #999999;
  font-size: 14px;
  font-family: sans-serif;
}
  
.footer a:hover {
  color: #ff0000;
}

.top {
   
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 77px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  position: fixed;
}
.top-items {
  display: flex;
  height: 77px;
  max-width: 975px;
  padding: 26px 20px;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-area {
  display: flex; 
  flex: 1 9999 0%;
  min-width: 40px;
  justify-content: flex-start;
  flex-direction: row;
  align-content: stretch;

}

.search-box {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.search {
  border: 1px solid rgba(196, 196, 196, 0.418);
  border-radius: 3px;
  width: 200px;
  color: #999;
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  padding: 7px;
  position: absolute;
  text-align: center;
  top: 0;
}
.search-box:hover {
  /* transform: translateY(-2px); */
  /* box-shadow: 1px 3px 1px rgb(53, 52, 52); */
}
.search-box:active {
  transform: scaleX(1.04);
}
.ic {
  left: 55px;
  opacity: 0.5;
  position: relative;
  top: 12px;
  background-repeat: no-repeat;
  background-position: -387px -337px;
  height: 10px;
  width: 10px;
}

.sb {
  position: absolute;
}

.acct-actions {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  top: 35%;
  left: 70%;
  white-space: nowrap;
}

.actions {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  white-space: nowrap;
}

.li {
  height: 24px;
  margin-right: 25px;
  opacity: 0.8;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: 'roboto', sans-serif;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.nav-wrapper{
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img{
  height: 100%;
  margin-top: 5px;
}

.search-box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 25px;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: capitalize;
}

.search-box::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.nav-items{
  height: 22px;
  position: relative;
}

.icon{
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

.user-profile{
  width: 22px;
  border-radius: 50%;
  background-image: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png");
  background-size: cover;
}
.post{
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 40px;
}

.info{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username{
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.info .options{
  height: 10px;
  cursor: pointer;
}

.info .user{
  display: flex;
  align-items: center;
}

.info .profile-pic{
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.info .profile-pic img{
  border: none;
  height: 30px;
  width: 80%;
  border-radius: 50%;
}

.post-image{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content{
  width: 100%;
  padding: 20px;
}

.likes{
  font-weight: bold;
}

.description{
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span{
  font-weight: bold;
  margin-right: 10px;
}

.post-time{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.comment-wrapper{
  width: 100%;
  height: 50px;
  border-radius: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon{
  height: 30px;
}

.comment-box{
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn{
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
}

.reaction-wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon{
  height: 25px;
  margin: 0;
  margin-right: 20px;
}

.reaction-wrapper .icon.save{
  margin-left: auto;
}
.right-col{
  padding: 20px;
  position: absolute;
  top: 80px;
  right: 80px;
  position: fixed;
}

.profile-card{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-card .profile-pic{
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  
  margin-right: 10px;
}

.profile-card:first-child .profile-pic{
  width: 70px;
  height: 70px;
}
.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-slide {
        width: 80%;
      }

      .swiper-slide:nth-child(2n) {
        width: 60%;
      }

      .swiper-slide:nth-child(3n) {
        width: 40%;
      }
.profile-card .profile-pic img{
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.profile-card .username{
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.sub-text{
  color: rgba(0, 0, 0, 0.5);
  font-size:12px;
  font-weight: 500;
  margin-top: 5px;
}

.action-btn{
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
}

.suggestion-text{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin: 20px 0;
}

@media (max-width: 1100px){
  .right-col, .search-box{
      display: none;
  }
  .nav-wrapper,
  .wrapper{
      width: 90%;
  }
  .wrapper{
      display: block;
  }
}

@media (max-width: 500px){
  .nav-items .icon{
      margin: 0 5px;
  }
  .post-image{
      height: 300px;
  }
}
